@media screen and (min-width: 950px) {
    #header1 { font-size: 30px; }
    #header2 { font-size: 25px; }
    p        { font-size: 20px; }
    code     { font-size: 16px; }
}

@media screen and (max-width: 950px) {
    #header1 { font-size: 35px; }
    #header2 { font-size: 30px; }
    p        { font-size: 23px; }
    code     { font-size: 20px; }
}

@media screen and (max-width: 650px) {
    #header1 { font-size: 40px; }
    #header2 { font-size: 35px; }
    p        { font-size: 26px; }
    code     { font-size: 24px; }
}

@media screen and (max-width: 480px) {
    #header1 { font-size: 45px; }
    #header2 { font-size: 40px; }
    p        { font-size: 29px; }
    code     { font-size: 28px; }
}