
body {
    background-color: #202020;
    color: #E0E0E0;
    padding:20px;


}

a {
    color: #E0E0E0;
}

p {
    font-family: verdana;
    font-size: 20px;
    max-width: 25cm;
}

code {
    font-size:16px;
}



#header1{
    font-size: 30px;
}

#header2{
    font-size: 25px;
}