body {
    background-color: #202020;
    color: #E0E0E0;
    padding:20px;
}

a {
    color: #E0E0E0;
}

p {
    font-family: verdana;
    max-width: 25cm;
}

code {
    font-size:15px;
}


#header2{
    margin-top: 0.5vw;
    margin-left: 2vw;
}